*,
*::before,
*::after {
	box-sizing: border-box;

}

body {
    margin: 0;
    
}

.wrapper{
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	
}


$bodyColor: #fff;
$whiteColor: #fff;



@mixin color-hover(){
	color: #000;
	text-decoration: none;
}



@import 'components/header';

