.header {
	position: relative;
    width: 100%;
	min-height: 500px;

	&-background {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 125px;
	    background: linear-gradient(to top, rgba(0, 0, 0, 0),  rgba(0, 0, 0, .4) );

	}

	&-nav {
		width: 100%;
		height: 100px;
		box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.11);
		background-color: #fff;
	}

}



.gallery {

    &-blockimg {
    	display: flex;
    	flex-wrap: nowrap;
    	width: 100%;
    	margin: 0 auto;
        font-size: 0;



        &__photo {
        	max-width: 250px;
        	max-height: 250px;
        	width: 17.3%;
        	height: 100%;
        	

        	&:last-child {
        	width: 13.19%;
        	height: 100%;
        }

        }
    }	
}


.menu {
	line-height: 100px;

	&__item:hover {
		@include opacity-hover(); 
	}

	&__item {
		display: inline-block;
		margin-right: 5.41%;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		text-transform: uppercase;

		a {
		 color: #2e2e2e;
		}
	}
}