.main-title {
	display: inline-block;
	max-width: 840px;
	margin-bottom: 80px;
	font-size: calc( (100vw - 320px)/(1440 - 320) * (56 - 28) + 28px);
    font-weight: 300;

    &::before {
    	display: block;
    	width: 93px;
		height: 93px;
    	content: "";
    	margin: 115px auto 36px;
    	background: url(../images/hotdog.png);
    	
    }
}


.btn {
	display: block;
	width: 310px;
	margin: 0 auto;
	padding: 22px 0;
	margin-bottom: 173px;
	border-radius: 6px;
	background-color: #286782;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;

	&:hover {
		@include opacity-hover();
	}
}


.main-food {
	

	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		font-size: 0;
	
	}

	&-description {
		position: relative;
		display: inline-flex;
		max-width: 720px;
		width: 50%;
		text-align: left;
		vertical-align: top;
		background-color: #fff;

		&__title {
			display: block;
			margin-bottom: 33px;
			font-size: 24px;
			font-weight: 700;

			&::before {
				display: block;
				position: absolute;
				top: 22px;
				left: -40px;
				content: "\2014";
				color: #84959c;
			}
		}


		&__text {
			display: inline-block;
			margin: auto;
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
		}

	}

	&-img {
		display: inline-block;
		max-width: 720px;
		width: 50%;
		height: 100%;

		& img {
			width: 100%;
		}
		
	}
}


.description-wrapper {
	position: relative;
	width: 60.55%;
	margin: auto;



}





@media (max-width:720px) {
	.main-food {
		width: 100%;
	

		&-img {
			width: 100%;
			
		}
	
		&-description {
			width: 100%;
			margin-bottom: 10px;
			
			
		}

		&-wrapper {
			flex-direction:column;
		}

	}

	.main-food-wrapper {

		& :nth-child(1) {
			order: 0;
		}

		& :nth-child(2) {
			order: 0;
		}

		& :nth-child(3) {
			order: 2;
		}
		
		& :nth-child(4) {
			order: 2;
		}

		& :nth-child(5) {
			order: 1;
		}

		& :nth-child(6) {
			order: 2;
		}
	
	}	
}